---
http_interactions:
- request:
    method: get
    uri: https://westus.api.cognitive.microsoft.com/luis/v2.0/apps/1234?q=Bus%20time&subscription-key=456
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\r\n  \"query\": \"Bus time\",\r\n  \"topScoringIntent\": {\r\n    \"intent\":
        \"getBusTimeTable\",\r\n    \"score\": 0.359162629,\r\n    \"actions\": [\r\n
        \     {\r\n        \"triggered\": true,\r\n        \"name\": \"getBusTimeTable\",\r\n
        \       \"parameters\": [\r\n          {\r\n            \"name\": \"stop\",\r\n
        \           \"type\": \"BusStop\",\r\n            \"required\": false,\r\n
        \           \"value\": null\r\n          }\r\n        ]\r\n      }\r\n    ]\r\n
        \ },\r\n  \"entities\": [],\r\n  \"dialog\": {\r\n    \"contextId\": \"5634e7bd-1604-4c1f-b56a-928ebfd416b7\",\r\n
        \   \"status\": \"Finished\"\r\n  }\r\n}"
  recorded_at: Sat, 16 Sep 2017 20:13:19 GMT
recorded_with: VCR 3.0.3
